<div class = "heading">
    List of Data Model
</div>
<%= link_to 'Create Data Model', :action => 'new' %>
<table cellspacing="0" cellpadding="0" width="100%">
    <tr class="tblebluehead">
        <th>
            Sl No
        </th>
                <th>
                       Name
                </th>

                <th>
                       Data
                </th>
 </tr>
    <% count = 0 %>
    <% i = 0 %>
<% for data in @task %>
    <tr class='<%= cycle("tablerow1","tablerow2") %>' >
        <td>
            <%= count = count + 1 %>
        </td>
                <td>
                    <%= data.name  %>
                </td>
               <td>
                   <%=data.data%>
              </td>
              <td>
                     <%= link_to 'Edit', :action => 'edit', :id => data.id %>

             </td>
    </tr>
    <% end %>
</table>
